.cardPacote {
    background: white;
    padding: 16px;
    border: 1px solid #ddd;
    flex: 1 1 calc(25% - 46px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .pacoteHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      h3 {
        margin: 0;
      }

      .preco {
        font-weight: bold;
        color: #007bff;
        display: flex;
        flex-direction: column;
      }

      .precoAnterior {
        text-decoration: line-through;
        color: #888;
      }
    }

    p {
      margin: 8px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 16px 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        svg {
          margin-right: 8px;
        }
      }
    }

    .btnComprar {
      background: #007bff;
      color: white;
      width: 100%;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      margin-top: auto;
      align-self: flex-start;

      &:hover {
        background: #0056b3;
      }
    }
  }