/* Pacotes de Viagem */
.pacotesViagem {
    padding: 32px 16px;
  
  }
    .pacotesGrid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  
@media (max-width :1380px ) {
  grid-template-columns: 1fr 1fr;
}
@media (max-width :720px ) {
  grid-template-columns: 1fr ;
}
}
  